In [1]:
import pandas as pd

In [53]:
df = pd.read_excel('./data/_유형별 매매가격대비전세가격비율(2012-2020).xlsx')
df.head()

  주택유형별 지역별          시점  매매가격 대비 전세가격         날짜
0    종합  전국  2012. 01 월     57.944427  2012. 01
1    종합  전국  2012. 02 월     58.005779  2012. 02
2    종합  전국  2012. 03 월     58.017981  2012. 03
3    종합  전국  2012. 04 월     58.097297  2012. 04
4    종합  전국  2012. 05 월     58.176380  2012. 05

In [54]:
df.shape

(37905, 5)

In [55]:
df.describe()

       매매가격 대비 전세가격
count  37905.000000
mean      66.784954
std       10.042301
min       28.452381
25%       61.927016
50%       68.954717
75%       73.849991
max       87.589694

In [56]:
df['주택유형별'].unique()

array(['종합', '아파트', '연립다세대', '단독주택'], dtype=object)

In [57]:
df_total = df[df['주택유형별']=='종합']
df_total.shape

(4417, 5)

In [59]:
from sklearn.preprocessing import MinMaxScaler

In [60]:
scaler = MinMaxScaler()

In [65]:
data_scaled = scaler.fit_transform(df_total.iloc[:, [3]])

array([[0.44139518],
       [0.44323693],
       [0.44360322],
       ...,
       [0.55873839],
       [0.55902501],
       [0.5599529 ]])

In [68]:
df_total['매매가격 대비 전세가격(scaled)'] = data_scaled
df_total.head()

  주택유형별 지역별          시점  매매가격 대비 전세가격         날짜  매매가격 대비 전세가격(scaled)
0    종합  전국  2012. 01 월     57.944427  2012. 01               0.441395
1    종합  전국  2012. 02 월     58.005779  2012. 02               0.443237
2    종합  전국  2012. 03 월     58.017981  2012. 03               0.443603
3    종합  전국  2012. 04 월     58.097297  2012. 04               0.445984
4    종합  전국  2012. 05 월     58.176380  2012. 05               0.448358

In [80]:
def mmScaler(df):
    scaler = MinMaxScaler()
    data_scaled = scaler.fit_transform(df.iloc[:, [3]])
    df['매매가격 대비 전세가격(scaled)'] = data_scaled
    return df

In [81]:
df_apartment = df[df['주택유형별']=='아파트']
df_apartment = mmScaler(df_apartment)

In [82]:
df_multi = df[df['주택유형별']=='연립다세대']
df_multi = mmScaler(df_multi)

In [83]:
df_single = df[df['주택유형별']=='단독주택']
df_single = mmScaler(df_single)

In [85]:
print(df_total.shape)
print(df_apartment.shape)
print(df_multi.shape)
print(df_single.shape)

(4417, 6)
(24654, 6)
(4417, 6)
(4417, 6)

In [86]:
df_result = pd.concat([df_total, df_apartment, df_multi, df_single])

In [87]:
print(df_result.shape)
df_result

(37905, 6)

      주택유형별 지역별          시점  매매가격 대비 전세가격         날짜  매매가격 대비 전세가격(scaled)
0        종합  전국  2012. 01 월     57.944427  2012. 01               0.441395
1        종합  전국  2012. 02 월     58.005779  2012. 02               0.443237
2        종합  전국  2012. 03 월     58.017981  2012. 03               0.443603
3        종합  전국  2012. 04 월     58.097297  2012. 04               0.445984
4        종합  전국  2012. 05 월     58.176380  2012. 05               0.448358
...     ...  ..         ...           ...        ...                   ...
37900  단독주택  제주  2020. 08 월     55.443446  2020. 08               0.835036
37901  단독주택  제주  2020. 09 월     55.421737  2020. 09               0.834364
37902  단독주택  제주  2020. 10 월     55.434832  2020. 10               0.834769
37903  단독주택  제주  2020. 11 월     55.440929  2020. 11               0.834958
37904  단독주택  제주  2020. 12 월     55.469282  2020. 12               0.835835

[37905 rows x 6 columns]

In [88]:
df_result.to_excel('유형별 매매가격대비전세가격비율(2012-2020)_scaled.xlsx')